@page
@using androkat.web.Pages
@model AdatvedelemModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container bg-white" style="padding: 15px;">
    <div class="p-3 border bg-light">
        <h2 class="has-text-align-center"><strong>ADATKEZELÉSI TÁJÉKOZTATÓ</strong></h2>
        <p><strong>Az adatkezelési tájékoztató célja</strong></p>
        <p>Az AndroKat (a továbbiakban, szolgáltató, adatkezelő) mint adatkezelő, magára nézve kötelezőnek ismeri el jelen jogi közlemény tartalmát. Kötelezettséget vállal arra, hogy tevékenységével kapcsolatos minden adatkezelés megfelel a jelen szabályzatban és a hatályos nemzeti jogszabályokban, valamint az Európai Unió jogi aktusaiban meghatározott elvárásoknak.</p>
        <p>Az Adatkezelő adatkezeléseivel kapcsolatosan felmerülő adatvédelmi irányelvek folyamatosan elérhetők a <a href="https://androkat.hu/adatvedelem">https://androkat.hu/adatvedelem</a> címen.</p>
        <p>Az Adatkezelő fenntartja magának a jogot jelen tájékoztató bármikori megváltoztatására. Természetesen az esetleges változásokról kellő időben értesíti közönségét.</p>
        <p>Amennyiben kérdése lenne jelen közleményünkhöz kapcsolódóan, kérjük, írja meg nekünk, és megválaszoljuk kérdését.</p>
        <p>Az Adatkezelő elkötelezett ügyfelei és partnerei személyes adatainak védelmében, kiemelten fontosnak tartja ügyfelei információs önrendelkezési jogának tiszteletben tartását. Az Adatkezelő a személyes adatokat bizalmasan kezeli, és megtesz minden olyan biztonsági, technikai és szervezési intézkedést, mely az adatok biztonságát garantálja.</p>
        <p>Az Adatkezelő az alábbiakban ismerteti adatkezelési gyakorlatát.</p>
        <p><strong>Az adatkezelő adatai</strong></p>
        <p>Amennyiben megkeresné minket, <span>e-mail </span>elérhetőségen léphet kapcsolatba az adatkezelővel.</p>
        <p>Az Adatkezelő minden hozzá beérkezett e-mailt a személyes adatokkal együtt az adatközléstől számított legfeljebb 1 év elteltével töröl.</p>
        <p><span>E-mail: uzenet@androkat.hu</span></p>
        <p><strong>A kezelt személyes adatok köre</strong></p>
        <p>Regisztrációs során megadandó személyes adatok</p>
        <p>- Név<br />- Email cím</p>
        <p><strong>Technikai adatok</strong></p>
        <p>Az Adatkezelő a személyes adatok kezeléséhez a szolgáltatás nyújtása során alkalmazott informatikai eszközöket úgy választja meg és üzemelteti, hogy a kezelt adat:</p>
        <ul>
            <li>az arra feljogosítottak számára hozzáférhető (rendelkezésre állás);   </li>
            <li>hitelessége és hitelesítése biztosított (adatkezelés hitelessége);</li>
            <li>változatlansága igazolható (adatintegritás);</li>
            <li>a jogosulatlan hozzáférés ellen védett (adat bizalmassága) legyen.</li>
        </ul>
        <p>Az Adatkezelő az adatokat megfelelő intézkedésekkel védi a jogosulatlan hozzáférés, megváltoztatás, továbbítás, nyilvánosságra hozatal, törlés vagy megsemmisítés, valamint a véletlen megsemmisülés ellen.</p>
        <p>Az Adatkezelő olyan műszaki, szervezési és szervezeti intézkedésekkel gondoskodik az adatkezelés biztonságának védelméről, amely az adatkezeléssel kapcsolatban jelentkező kockázatoknak megfelelő védelmi szintet nyújt.</p>
        <p>Az Adatkezelő az adatkezelés során megőrzi</p>
        <ul>
            <li>a titkosságot: megvédi az információt, hogy csak az férhessen hozzá, aki erre jogosult;</li>
            <li>a sértetlenséget: megvédi az információnak és a feldolgozás módszerének a pontosságát és teljességét;</li>
            <li>a rendelkezésre állást: gondoskodik arról, hogy amikor a jogosult használónak szüksége van rá, valóban hozzá tudjon férni a kívánt információhoz, és rendelkezésre álljanak az ezzel kapcsolatos eszközök.</li>
        </ul>
        <p><strong>Cookie-k (Sütik)</strong></p>
        <p>A sütik feladata</p>
        <ul>
            <li>információkat gyűjtenek a látogatókról és eszközeikről;</li>
            <li>megjegyzik a látogatók egyéni beállításait, amelyek felhasználásra kerül(het)nek pl. online tranzakciók igénybevételekor, így nem kell újra begépelni őket;</li>
            <li>megkönnyítik a weboldal használatát;</li>
            <li>minőségi felhasználói élményt biztosítanak.</li>
        </ul>
        <p>A testre szabott kiszolgálás érdekében a felhasználó számítógépén kis adatcsomagot, ún. sütit (cookie) helyez el és a későbbi látogatás során olvas vissza. Ha a böngésző visszaküld egy korábban elmentett sütit, a sütit kezelő szolgáltatónak lehetősége van összekapcsolni a felhasználó aktuális látogatását a korábbiakkal, de kizárólag a saját tartalma tekintetében.</p>
        <p>Az adatkezelés időtartama</p>
        <p>Az adott cookie adattárolási idötartama, bővebb információ elérhető itt:</p>
        <p>Google általános cookie tájékoztató: <a href="https://www.google.com/policies/technologies/types/" target="_blank" rel="noreferrer noopener">https://www.google.com/policies/technologies/types/</a></p>
        <p>Google Analitycs tájékoztató: <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=hu" target="_blank" rel="noreferrer noopener">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage?hl=hu</a></p>
        <p>Facebook tájékoztató: <a href="https://www.facebook.com/ads/preferences/?entry_product=ad_settings_screen" target="_blank" rel="noreferrer noopener">https://www.facebook.com/ads/preferences/?entry_product=ad_settings_screen</a></p>
        <p><strong>A cookie-k jogszabályi háttere és jogalapja:</strong></p>
        <p>Az adatkezelés jogalapja a Rendelet 6. cikk (1) bekezdés a) pontja alapján az  Ön hozzájárulása.</p>
        <p><strong>A honlap által használt cookie-k főbb jellemzői:</strong></p>
        <p><strong>A működéshez szigorúan szükséges cookie-k</strong>: Ezek a cookie-k a weboldal használatához nélkülözhetetlenek, és lehetővé teszik a weboldal alapvető funkcióinak használatát. Ezek hiányába az oldal számos funkciója nem lesz elérhető az Ön számára. Ezen típusú cookie-k élettartama kizárólag a munkamenet idejére korlátozódik.</p>
        <p><strong>A felhasználói élmény javítását szolgáló cookie-k</strong>: Ezek a cookie-k információkat gyűjtenek a felhasználó weboldalhasználatáról, például, hogy mely oldalakat látogatja leggyakrabban, vagy milyen hibaüzenetet kap a weboldalról. Ezek a cookie-k nem gyűjtenek a látogatót azonosító információkat, vagyis teljesen általános, névtelen információkkal dolgoznak. Az ezekből nyert adatokat a weboldal teljesítményének javítására használjuk. Ezen típusú cookie-k élettartama kizárólag a munkamenet idejére korlátozódik.</p>
        <p><span>Harmadik fél által elhelyezett cookie-k (analitika)</span></p>
        <p><strong>Google Analytics cookie</strong>: A Google Analytics a Google elemző eszköze, amely abban segít a weboldalak és alkalmazások tulajdonosainak, hogy pontosabb képet kapjanak látogatóik tevékenységeiről. A szolgáltatás cookie-kat használhat, hogy információkat gyűjtsön és jelentést készítsen a weboldal használatára vonatkozó statisztikai adatokból anélkül, hogy egyénileg azonosítaná a látogatókat a Google számára. A Google Analytics által használt fő cookie a „__ga” cookie. A webhelyhasználati statisztikai adatokból készülő jelentések mellett a Google Analytics – az előbbiekben ismertetett néhány hirdetési cookie-val együtt – felhasználható arra is, hogy relevánsabb hirdetéseket jelenítsünk meg a Google-termékekben (például a Google Keresésben) és szerte az interneten.</p>
        <p><strong>Munkamenet cookie:</strong> Ezek a sütik a látogató tartózkodási helyét, a böngésző nyelvét, a fizetés pénznemét tárolják, élettartamuk a böngésző bezárása, vagy maximum 2 óra.</p>
        <p><strong>Cookie elfogadás cookie</strong>: Az oldalra érkezéskor a figyelmeztető ablakban elfogadja a cookiek tárolásáról szóló nyilatkozatot. Élettartama 365 nap.</p>
        <p>Amennyiben Ön nem fogadja el a cookie-k használatát, akkor bizonyos funkciók nem lesznek elérhetőek az Ön számára. A cookie-k törléséről bővebb tájékoztatást az alábbi linkeken találhat:</p>
        <ul>
            <li>Internet Explorer:  <a href="http://windows.microsoft.com/en-us/internet-explorer/delete-manage-cookies#ie=ie-11" target="_blank" rel="noreferrer noopener">http://windows.microsoft.com/en-us/internet-explorer/delete-manage-cookies#ie=ie-11</a></li>
            <li>Firefox:  <a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer" target="_blank" rel="noreferrer noopener">https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer</a></li>
            <li>Mozilla: <a href="https://support.mozilla.org/hu/kb/weboldalak-altal-elhelyezett-sutik-torlese-szamito" target="_blank" rel="noreferrer noopener">https://support.mozilla.org/hu/kb/weboldalak-altal-elhelyezett-sutik-torlese-szamito</a></li>
            <li>Safari: <a href="https://support.apple.com/kb/ph21411?locale=en_US" target="_blank" rel="noreferrer noopener">https://support.apple.com/kb/ph21411?locale=en_US</a></li>
            <li>Chrome: <a href="https://support.google.com/chrome/answer/95647" target="_blank" rel="noreferrer noopener">https://support.google.com/chrome/answer/95647</a></li>
        </ul>
        <p><strong>Az adatkezelés célja, módja és jogalapja</strong></p>
        <p>Általános adatkezelési irányelvek</p>
        <p>Az Adatkezelő tevékenységének adatkezelései önkéntes hozzájáruláson, illetve törvényi felhatalmazáson alapulnak. Az önkéntes hozzájáruláson alapuló adatkezelések esetében az érintettek e hozzájárulásukat az adatkezelés bármely szakában visszavonhatják.</p>
        <p>Bizonyos esetekben a megadott adatok egy körének kezelését, tárolását, továbbítását jogszabályok teszik kötelezővé, melyről külön értesítjük ügyfeleinket.</p>
        <p>Felhívjuk az Adatkezelő részére adatközlők figyelmét, hogy amennyiben nem saját személyes adataikat adják meg, az adatközlő kötelessége az érintett hozzájárulásának beszerzése.</p>
        <p>Adatkezelési alapelvei összhangban vannak az adatvédelemmel kapcsolatos hatályos jogszabályokkal, így különösen az alábbiakkal:</p>
        <ul>
            <li>2011. évi CXII. törvény – az információs önrendelkezési jogról és az információ-szabadságról (Infotv.);</li>
        </ul>
        <ul>
            <li>Az Európai Parlament és a Tanács (EU) 2016/679 rendelete (2016. április 27.) – a természetes személyeknek a személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok szabad áramlásáról, valamint a 95/46/EK rendelet hatályon kívül helyezéséről (általános adatvédelmi rendelet, GDPR);</li>
            <li>2013. évi V. törvény – a Polgári Törvénykönyvről (Ptk.);</li>
            <li>2000. évi C. törvény – a számvitelről (Számv. tv.);</li>
            <li>2017. évi LIII. törvény – a pénzmosás és terrorizmus finanszírozása megelőzéséről és megakadályozásáról (Pmt.);</li>
            <li>2013. évi CCXXXVII. törvény – a hitelintézetekről és a pénzügyi vállalkozásokról (Hpt.).</li>
        </ul>
        <p><strong>Az adatok fizikai tárolási helyei</strong></p>
        <p>Személyes adatai (vagyis azok az adatok, amelyek az Ön személyével kapcsolatba hozhatók) a következő módon kerülhetnek a kezelésünkbe: egyfelől az internetes kapcsolat fenntartásával összefüggésben az Ön által használt számítógéppel, böngészőprogrammal, internetes címmel, a látogatott oldalakkal kapcsolatos technikai adatok automatikusan képződnek számítógépes rendszerünkben, másfelől Ön is megadhatja nevét, elérhetőségét vagy más adatait, ha a honlap használata során személyes kapcsolatba kíván lépni velünk.</p>
        <p>A rendszer működtetése során technikailag rögzítésre kerülő adatok: az érintett bejelentkező számítógépének azon adatai, melyek a szavazás során generálódnak és melyeket az … rendszere a technikai folyamatok automatikus eredményeként rögzít. Az automatikusan rögzítésre kerülő adatot a rendszer az érintett külön nyilatkozata vagy cselekménye nélkül a belépéskor, illetve kilépéskor automatikusan naplózza. Ezen adat egyéb személyes felhasználói adatokkal – törvény által kötelezővé tett esetek kivételével – össze nem kapcsolható. Az adathoz kizárólag az … fér hozzá.</p>
        <p><strong>Érintett jogai és jogérvényesítési lehetőségei</strong></p>
        <p>Az adatkezelés időtartamán belül Önt a Rendelet előírásai szerint az alábbi jogok illetik meg:</p>
        <ul>
            <li>a hozzájárulás visszavonásának joga</li>
            <li>személyes adatokhoz és az adatkezeléssel kapcsolatos információkhoz való hozzáférés</li>
            <li>helyesbítéshez való jog</li>
            <li>adatkezelés korlátozása,</li>
            <li>törléshez való jog</li>
            <li>tiltakozáshoz való jog</li>
            <li>hordozhatósághoz való jog.</li>
        </ul>
        <p>Amennyiben Ön jogaival élni kíván, az az Ön azonosításával jár együtt, valamint az Adatkezelőnek Önnel szükségszeren kommunikálnia kell. Ezért az azonosítás érdekében személyes adatok megadására lesz szükség (de az azonosítás csak olyan adaton alapulhat, amelyet Adatkezelő egyébként is kezel Önről), valamint az Adatkezelő email fiókjában elérhetőek lesz az Ön adatkezeléssel kapcsolatos panasza a jelen tájékoztatóban, a panaszokkal kapcsolatban megjelölt időtartamon belül. Amennyiben Ön vásárlónk volt és panaszügyintézés, vagy garanciális ügyintézés érdekében szeretné magát azonosítani, az azonosításhoz kérjük adja meg rendelési azonosítóját is. Ennek felhasználásával Önt, mint vásárlót is be tudjuk azonosítani.</p>
        <p>Az adatkezeléssel kapcsolatos panaszokat legkésőbb 30 napon belül válaszolja meg Adatkezelő.</p>
        <p><strong>Tájékoztatáshoz való jog</strong></p>
        <p>Az Adatkezelő megfelelő intézkedéseket hoz annak érdekében, hogy az érintettek részére a személyes adatok kezelésére vonatkozó, a GDPR 13. és a 14. cikkben említett valamennyi információt és a 15–22. és 34. cikk szerinti minden egyes tájékoztatást tömör, átlátható, érthető és könnyen hozzáférhető formában, világosan és közérthetően megfogalmazva nyújtsa.</p>
        <p><strong>Az érintett hozzáféréshez való joga</strong></p>
        <p>Ön jogosult arra, hogy az Adatkezelőtől visszajelzést kapjon arra vonatkozóan, hogy személyes adatainak kezelése folyamatban van-e, és ha adatkezelés folyamatban van, jogosult arra, hogy:</p>
        <ul>
            <li>a kezelt személyes adatokhoz hozzáférést kapjon és</li>
            <li>a következő információkról az Adatkezelő tájékoztassa:</li>
            <li>az adatkezelés céljai;</li>
            <li>az Önről kezelt személyes adatok kategóriái;</li>
            <li>információ azon címzettekről vagy címzettek kategóriáiról, akikkel, illetve amelyekkel a személyes adatokat Adatkezelő közölte vagy közölni fogja;</li>
            <li>a személyes adatok tárolásának tervezett időtartama, vagy ha ez nem lehetséges, ezen időtartam meghatározásának szempontjai;</li>
            <li>az Ön azon joga, hogy kérelmezheti az Adatkezelőtől az Önre vonatkozó személyes adatok helyesbítését, törlését vagy kezelésének korlátozását, és jogos érdeken alapuló adatkezelés esetén tiltakozhat az ilyen személyes adatok kezelése ellen;</li>
            <li>a felügyeleti hatósághoz címzett panasz benyújtásának joga;</li>
            <li>ha az adatokat nem Öntől gyűjtötték be, a forrásukra vonatkozó minden elérhető információ;</li>
            <li>az automatizált döntéshozatal tényéről (ha alkalmazott ilyen eljárás), ideértve a profilalkotást is, valamint legalább ezekben az esetekben az alkalmazott logikára és arra vonatkozóan érthető információkat, hogy az ilyen adatkezelés milyen jelentőséggel, és Önre nézve milyen várható következményekkel bír.</li>
        </ul>
        <p>A jog gyakorlásának célja az adatkezelés jogszerűségének megállapítására és ellenőrzésére irányulhat, ezért többszöri tájékoztatás kérés esetén Adatkezelő méltányos költségtérítést számolhat fel a tájékoztatás teljesítéséért cserébe.</p>
        <p>A személyes adatokhoz való hozzáférést Adatkezelő úgy biztosítja, hogy az Ön azonosítását követően emailben juttatja el Önhöz a kezelt személyes adatokat és az információkat. Amennyiben regisztrációval rendelkezik, akkor a hozzáférést úgy biztosítjuk, hogy a felhasználói fiókjába belépve tudja az Önről kezelt személyes adatokat megtekinteni és ellenőrizni.</p>
        <p>Kérjük, hogy kérelmében jelölje meg, hogy a személyes adatokhoz kér hozzáférést, vagy az adatkezeléssel kapcsolatos információkat kéri.</p>
        <p><strong>Helyesbítés joga</strong></p>
        <p>Ön jogosult arra, hogy kérésére Adatkezelő késedelem nélkül helyesbítse az Önre vonatkozó pontatlan személyes adatokat.</p>
        <p><strong>Törléshez való jog</strong></p>
        <p>Az érintett az alábbi indokok valamelyikének fennállása esetén jogosult arra, hogy kérésére az Adatkezelő indokolatlan késedelem nélkül törölje a rá vonatkozó személyes adatokat:</p>
        <ul>
            <li>személyes adatokra már nincs szükség abból a célból, amelyből azokat gyűjtötték vagy más módon kezelték;</li>
            <li>az érintett visszavonja az adatkezelés alapját képező hozzájárulását, és az adatkezelésnek nincs más jogalapja;</li>
            <li>az érintett tiltakozik az adatkezelés ellen, és nincs elsőbbséget élvező jogszerű ok az adatkezelésre;</li>
            <li>a személyes adatokat jogellenesen kezelték;</li>
            <li>a személyes adatokat az adatkezelőre alkalmazandó uniós vagy tagállami jogban előírt jogi kötelezettség teljesítéséhez törölni kell;</li>
            <li>a személyes adatok gyűjtésére információs társadalommal összefüggő szolgáltatások kínálásával kapcsolatosan került sor.</li>
        </ul>
        <p>Az adatok törlése nem kezdeményezhető, ha az adatkezelés szükséges: a véleménynyilvánítás szabadságához és a tájékozódáshoz való jog gyakorlása céljából; a személyes adatok kezelését előíró, az adatkezelőre alkalmazandó uniós vagy tagállami jog szerinti kötelezettség teljesítése, illetve közérdekből vagy az adatkezelőre ruházott közhatalmi jogosítvány gyakorlása keretében végzett feladat végrehajtása céljából; a népegészség-ügy területét érintő, vagy archiválási, tudományos és történelmi kutatási célból vagy statisztikai célból, közérdek alapján; vagy jogi igények előterjesztéséhez, érvényesítéséhez, illetve védelméhez.</p>
        <p><strong>Az adatkezelés korlátozásához való jog</strong></p>
        <p>Az érintett kérésére az Adatkezelő korlátozza az adatkezelést, ha az alábbi feltételek valamelyike teljesül:</p>
        <ul>
            <li>az érintett vitatja a személyes adatok pontosságát, ez esetben a korlátozás arra az időtartamra</li>
            <li>vonatkozik, amely lehetővé teszi, a személyes adatok pontosságának ellenőrzését;</li>
            <li>az adatkezelés jogellenes, és az érintett ellenzi az adatok törlését, és ehelyett kéri azok felhasználásának korlátozását;</li>
            <li>az adatkezelőnek már nincs szüksége a személyes adatokra adatkezelés céljából, de az érintett igényli azokat jogi igények előterjesztéséhez, érvényesítéséhez vagy védelméhez; vagy</li>
            <li>az érintett tiltakozott az adatkezelés ellen; ez esetben a korlátozás arra az időtartamra vonatkozik, amíg megállapításra nem kerül, hogy az adatkezelő jogos indokai elsőbbséget élveznek-e az érintett jogos indokaival szemben.</li>
        </ul>
        <p>Ha az adatkezelés korlátozás alá esik, a személyes adatokat a tárolás kivételével csak az érintett hozzájárulásával, vagy jogi igények előterjesztéséhez, érvényesítéséhez vagy védelméhez, vagy más természetes vagy jogi személy jogainak védelme érdekében, vagy az Unió, illetve valamely tagállam fontos közérdekéből lehet kezelni.</p>
        <p><strong>Adathordozáshoz való jog</strong></p>
        <p>Amennyiben az adatkezelés automatizált módon valósul meg, vagy ha az adatkezelés az Ön önkéntes hozzájárulásán alapul, Önnek joga van arra, hogy kérje Adatkezelőtől, hogy az Ön által az Adatkezelő részére megadott adatokat megkapja, amit Adatkezelő xml, JSON, vagy csv formátumban bocsát az Ön rendelkezésére, ha ez technikailag megvalósítható, akkor kérheti, hogy az Adatkezelő az adatokat ebben a formában más adatkezelő számára továbbítsa.</p>
        <p><strong>Tiltakozás joga</strong></p>
        <p>Az érintett jogosult arra, hogy a saját helyzetével kapcsolatos okokból bármikor tiltakozzon személyes adatainak közérdekű vagy az adatkezelőre ruházott közhatalmi jogosítvány gyakorlásának keretében végzett feladat végrehajtásához szükséges adatkezelés, vagy az adatkezelő vagy egy harmadik fél jogos érdekeinek érvényesítéséhez szükséges kezelése ellen, ideértve az említett rendelkezéseken alapuló profilalkotást is. Tiltakozás esetén az adatkezelő a személyes adatokat nem kezelheti tovább, kivéve, ha azt olyan kényszerítő erejű jogos okok indokolják, amelyek elsőbbséget élveznek az érintett érdekeivel, jogaival és szabadságaival szemben, vagy amelyek jogi igények előterjesztéséhez, érvényesítéséhez vagy védelméhez kapcsolódnak.</p>
        <p>Automatizált döntéshozatal egyedi ügyekben, beleértve a profilalkotást</p>
        <p>Az érintett jogosult arra, hogy ne terjedjen ki rá az olyan, kizárólag automatizált adatkezelésen – ideértve a profilalkotást is – alapuló döntés hatálya, amely rá nézve joghatással járna vagy őt hasonlóképpen jelentős mértékben érintené.</p>
        <p><strong>Visszavonás joga</strong></p>
        <p>Az érintett jogosult arra, hogy hozzájárulását bármikor visszavonja.</p>
        <p><strong>Bírósághoz fordulás joga</strong></p>
        <p>Az érintett a jogainak megsértése esetén az adatkezelő ellen bírósághoz fordulhat. A bíróság az ügyben soron kívül jár el.</p>
        <p><strong>Adatvédelmi hatósági eljárás</strong></p>
        <p>Panasszal a Nemzeti Adatvédelmi és Információszabadság Hatóságnál lehet élni:</p>
        <ul>
            <li>Név: Nemzeti Adatvédelmi és Információszabadság Hatóság</li>
            <li>Székhely: 1125 Budapest, Szilágyi Erzsébet fasor 22/C. Levelezési cím: 1530 Budapest, Pf.: 5.</li>
            <li>Telefon: 0613911400</li>
            <li>Fax: 0613911410</li>
            <li>E-mail: <a href="mailto:ugyfelszolgalat@naih.hu">ugyfelszolgalat@naih.hu</a> Honlap: <a href="http://www.naih.hu/" target="_blank" rel="noreferrer noopener">http://www.naih.hu</a></li>
        </ul>
        <p><strong>Egyéb rendelkezések</strong></p>
        <p>E tájékoztatóban fel nem sorolt adatkezelésekről az adat felvételekor adunk tájékoztatást.</p>
        <p>Tájékoztatjuk ügyfeleinket, hogy a bíróság, az ügyész, a nyomozó hatóság, a szabálysértési hatóság, a közigazgatási hatóság, a Nemzeti Adatvédelmi és Információszabadság Hatóság, a Magyar Nemzeti Bank, illetőleg jogszabály felhatalmazása alapján más szervek tájékoztatás adása, adatok közlése, átadása, illetőleg iratok rendelkezésre bocsátása végett megkereshetik az adatkezelőt.</p>
        <p>Az Adatkezelő a hatóságok részére – amennyiben a hatóság a pontos célt és az adatok körét megjelölte – személyes adatot csak annyit és olyan mértékben ad ki, amely a megkeresés céljának megvalósításához elengedhetetlenül szükséges.</p>
        <p>A jelen dokumentum a weboldal működésével kapcsolatban minden releváns adatkezelési információt tartalmaz az Európai Unió 2016/679 számú Általános Adatvédelmi Rendelete (a továbbiakban: Rendelet. GDPR) és a 2011. évi CXII. tv. (a továbbiakban: Infotv.) alapján.</p>
    </div>
</div>