@page
@using androkat.web.Pages
@model HasznosModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container bg-white" style="padding: 15px;">
    <div class="p-3 border bg-light" style="border-radius: 0.25rem;">
        <h1>Hasznos link gyűjtemény</h1>

        <p>Napi Ige és olvasmányok (havi és napi bontásban)<br>
            <a href="https://igenaptar.katolikus.hu/" rel="noopener" target="_blank">igenaptar.katolikus.hu</a>
        </p>
        <p>Online Szentírás # 6 féle Bibliafordítás (olvasás, keresés)<br>
            <a href="https://szentiras.eu/" rel="noopener" target="_blank">szentiras.eu</a>
        </p>
        <p>A Katolikus Egyház Katekizmusa (Tartalomjegyzék és Tárgymutatóval)<br>
            <a href="https://archiv.katolikus.hu/kek/" rel="noopener" target="_blank">katolikus.hu</a>
        </p>
        <p>Online mise kereső<br>
            <a href="https://liturgia.tv/" rel="noopener" target="_blank">liturgia.tv</a>
        </p>
        <p>Templom és mise kereső<br>
            <a href="https://miserend.hu/" rel="noopener" target="_blank">miserend.hu</a>
        </p>
        <p>Katolikus Lelkigyakorlat-kereső<br>
            <a href="https://lelkigyakorlatok.vercel.app/" rel="noopener"
                target="_blank">lelkigyakorlatok.vercel.app</a>
        </p>
        <p>Imaórák Liturgiája (Zsolozsma)<br>
            <a href="http://zsolozsma.katolikus.hu/" rel="noopener" target="_blank">zsolozsma.katolikus.hu</a>
        </p>
        <p>Bonum Katolikus TV<br>
            <a href="https://katolikus.tv/elo-adas/" rel="noopener" target="_blank">katolikus.tv/elo-adas</a>
        </p>
        <p>Katolikus Egyház Katekizmusa<br>
            <a href="https://archiv.katolikus.hu/kek/" rel="noopener" target="_blank">archiv.katolikus.hu/kek</a>
        </p>
        <p>Megszentelt tér - mindennapi imádság<br>
            <a href="https://sacredspace.com/hu/" rel="noopener" target="_blank">sacredspace.com</a>
        </p>
        <p>Keresztény Podcastok<br>
            <a href="https://podtail.com/en/podcast/kulonvelemeny/" rel="noopener" target="_blank">Különvélemény</a><br>
            <a href="https://www.youtube.com/channel/UC6rV9F9-90yPKKxR-n0p_wA" rel="noopener"
                target="_blank">Egytestté</a><br>
            <a href="https://open.spotify.com/show/2dP4FN8wLvRR3lUN1AzAbN" rel="noopener" target="_blank">+ 777</a>
        </p>
    </div>
</div>