@page
@using androkat.web.Pages
@model KapcsolatModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container bg-white" style="padding: 15px;">
<div class="p-3 border bg-light" style="border-radius: 0.25rem;">
    <h1>Rólunk</h1>
    <p>Az AndroKat android alkalmazás 2012.10.09-én indult el.<br>
    Ennek a weboldalnak a célja, hogy elérhető legyen egy webböngészőben is az android alkalmazásunk legtöbb szolgáltatása.<br>
    Így android nélkül is hozzáférhetőek lettünk!</p>
    <p><strong>Az alkalmazás mottója</strong><br>
        "Az istentisztelet, az erkölcsi élet, a hivatalok és funkciók s minden más arra való az Egyházban, hogy ezt az isteni szeretetet viszonozza Istennek, illetve megjelenítse, közvetítse a világ számára."
        <br>(Barsi Balázs)</p>

    <p><strong>Egy megerősítő idézet</strong><br>
        "A technika is része a teremtésnek.<br>
        Sokan úgy vélik, hogy a technikának semmi köze a lelkiséghez. Én viszont ebben is felismerem Isten kezét: általunk, emberek által a technikát is Isten alkotta, és ezért a technikában is meg tudjuk találni Őt.<br>
        Sok baj forrása, ha valamit kiveszünk Isten jelenlétéből. Az én küldetésem az volt, hogy rámutassak, Isten tervében a technikának is van helye."
        <br>(Judith Zoebelein - Vatikán első webmestere)</p>

    <p><strong>CÉLJA</strong><br>
        Egyesíteni – amennyire lehet – a jelenleg elérhető katolikus mobil alkalmazások nyújtotta lehetőségeket és internetes szolgáltatásokat (pl. RSS hírek, videó, hanganyag).<br>
        A napi imádság/elmélkedés támogatása de nem az idézetek gyűjtögetése.<br>
        Nem célunk, hogy boltban kapható könyveket ingyen letölthetővé tegyünk.<br>
        Ne feledjük azt, hogy "... a munkás megérdemli a maga bérét" (Lk 10,7), támogassuk a katolikus könyvkiadókat is.</p>
    <p><strong>További információk, elérhetőségek:</strong>
            <br><a href="https://play.google.com/store/apps/details?id=hu.AndroKat" rel="noopener" target="_blank">AndroKat a Google Play-en</a>
            <br><a href="https://www.facebook.com/androkat" rel="noopener" target="_blank">Androkat facebook oldala</a>
            <br><a href="https://twitter.com/AndroKat" rel="noopener" target="_blank">Androkat twitter oldala</a>
            <br><a href="https://www.youtube.com/channel/UCF3mEbdkhZwjQE8reJHm4sg" rel="noopener" target="_blank">Androkat Youtube oldala</a>
            <br><a href="https://www.instagram.com/androkat_app/" rel="noopener" target="_blank">Androkat Instagram oldala</a>
    </p>
</div>
</div>