@page
@using androkat.web.Pages
@model SzentModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container bg-white" style="padding: 15px;">
    @foreach (var p in Model.ContentModels)
    {
        <div class="p-3 border bg-light myclearfix mb-1" style="border-radius: 0.25rem;">
            <a href="details/@(p.ContentDetails.Nid)/@((int)p.MetaData.TipusId)" class="navlink">
                <img data-src="~/@(p.MetaData.Image)" class="mr-2 rounded" style="width: 80px; height: 80px;float: left;margin-right:8px;margin-bottom:8px;"
                     src="~/@(p.MetaData.Image)" data-holder-rendered="true" alt="@(p.MetaData.TipusNev)">
                @Html.Raw("<h5>" + p.ContentDetails.Cim + "</h5>")
                <p>
                    @Html.Raw(p.MetaData.TipusNev+ "<br>" + p.ContentDetails.Fulldatum.ToString("MM-dd"))
                </p>
            </a>
        </div>
    }
</div>