@page "{f?}"
@using androkat.infrastructure.Model;
@using androkat.web.Pages
@model VideoModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container bg-white">
    <div class="mb-4" style="border-radius: 0.25rem;padding: 15px;background-color: #ffffff;">
        <strong>Videók szűrése forrás szerint</strong>:<br /> <a href="/video">Összes</a> ||
        
        @foreach (var p in Model.VideoSourceModels)
        {
            var css = "";
            css = (!string.IsNullOrWhiteSpace(ViewData["source"].ToString()) && ViewData["source"].ToString() == p.ChannelId) ? "class=\"bg-success text-white p-1\"" : "";
            <a href="/video/?f=@(p.ChannelId)" @Html.Raw(css)>@(p.ChannelName)</a> @("||")
        } 
    </div>
    <div id="videoContent" class="row row-centered">
    </div>
    <div class="loading-bar">
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/javascriptv5.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {$('#videoContent').scrollPagination({nop: 4, offset: 0, error: 'Nincs több', delay: 500, scroll: true, url: '/v2/video' });});
    </script>
}