TestResults

#Ignore thumbnails created by Windows
Thumbs.db

#Ignore files built by Visual Studio
.vs/
*.obj
*.exe
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.orig

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .tfplan files
*.tfplan

# .pem files
*.pem

# .hcl files from Terraform v0.14 and newer
*.hcl

# sonarcube
.sonarqube/
coverage.xml
coverage.opencover.xml
coverage.json

Buffer*
!BufferedSingleFileUploadPhysical.cs
# Rider
**/.idea/**/workspace.xml
**/.idea/**/projectSettingsUpdater.xml
