[Unit]
Description=androkat

[Service]
TimeoutStartSec=0
Type=notify
WorkingDirectory=/var/app
ExecStart=/usr/bin/dotnet /var/app/androkat.web.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=androkat.service
User=ubuntu
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target

