[Unit]
Description=androkat

[Service]
TimeoutStartSec=0
Type=simple
WorkingDirectory=/var/app
ExecStart=/usr/bin/dotnet /var/app/androkat.web.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=androkat.service
User=androkat
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ANDROKAT_ENDPOINT_SAVE_CONTENT_DETAILS_API_URL=<value>
Environment=ANDROKAT_ENDPOINT_SAVE_TEMP_CONTENT_API_URL=<value>
Environment=ANDROKAT_ENDPOINT_UPDATE_RADIO_MUSOR_API_URL=<value>
Environment=ANDROKAT_ENDPOINT_HEALTH_CHECK_API_URL=<value>
Environment=ANDROKAT_ENDPOINT_GET_CONTENTS_API_URL=<value>
Environment=ANDROKAT_ENDPOINT_CRON=<value>
Environment=ANDROKAT_CREDENTIAL_CRON_API_KEY=<value>
Environment=ANDROKAT_GOOGLE_CLIENT_ID=<value>
Environment=ANDROKAT_GOOGLE_CLIENT_SECRET=<value>
Environment=ANDROKAT_GENERAL_HOST_URL=<value>
Environment=ANDROKAT_GENERAL_ADMIN=<value>

[Install]
WantedBy=multi-user.target

