@page
@using androkat.web.Pages.Gyonas
@model GyonasModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section meta_extra {
	<script type="text/javascript">
		function copyText() {
			var copyText = document.getElementById("confText").innerText;
			navigator.clipboard.writeText(copyText);
		}
		function copySins() {
			var copyText = document.getElementById("sins").innerText;
			navigator.clipboard.writeText(copyText);
		}

	</script>
}

	<div class="container bg-white" style="padding: 15px;">
		<div class="p-3 border bg-light">
			<h6>
				<a href="/gyonas" class="link-primary">Gyónási előtti elmélkedés</a> |
				<a href="/gyonas/ima" class="link-primary">Gyónási ima</a> |
				<a href="/gyonas/tukor" class="link-primary">Lelki tükör</a> |
				<a href="/gyonas/gyonas" class="link-secondary">Gyónás szövege</a>
			</h6>
			<h3>A Bűnbocsánat Szentsége</h3>
			<div class="m-2">
				<button type="button" class="btn btn-sm btn-primary" onclick="copyText()">
					Teljes másolás vágólapra
				</button>
				<button type="button" class="btn btn-sm btn-primary" onclick="copySins()">
					Bűnök másolása vágólapra
				</button>
			</div>
			<div id="confText">
				<h4>A Szentgyónás menete:</h4>
				<ul>
					<li>
						Belépünk a gyóntatószékbe: <em>
							Dicsértessék a Jézus
							Krisztus.
						</em>
					</li>
					<li>Letérdelünk, vagy leülünk.</li>
					<li>
						Keresztvetés: <em>
							Az Atya, a Fiú és a Szentlélek nevében.
							Ámen.
						</em>
					</li>
					<li>
						<em>
							Gyónom a mindenható Istennek és neked lelki atyám,
							hogy utolsó gyónásom óta ezeket a bűnöket követtem el. <br />Utoljára
							gyóntam...
						</em> (1 hónapja, 1 éve, 10 éve, hamvazószerdára... stb.)
					</li>
					<li>
						Bűnök felsorolása.
						<ul>
							@Html.Raw(Model.Parancsok)
							<li>
								Végén: <em>Több bűnömre nem emlékszem.</em><br />
								(Itt lehet kérdezni is a gyóntatótól.)
							</li>
						</ul>
					</li>
					<li>Gyóntató tanácsai.</li>
					<li>
						Az elégtétel: Jól figyelj az elégtételre, amit a lelkiatya
						fölad és lehetőleg hamar végezd el.
					</li>
					<li>
						Bánatima elimádkozása:<br /> <em>
							Teljes szívemből szánom
							és bánom minden bűnömet, mert azokkal az én jó Istenemet
							megbántottam.<br /> Erősen fogadom, hogy Isten segítségével a jóra
							törekszem, és a bűnöket kerülöm. Ámen.
						</em><br /> (Történhet más szavakkal is, de a bánat, és a javulás szándéka
						benne kell hogy legyen!)
					</li>
					<li>
						Gyóntató feloldozása. Amikor ezeket mondja ...<br />
						FELOLDOZLAK TÉGED AZ ATYA, A FIÚ ÉS A SZENTLÉLEK NEVÉBEN: keresztet
						vetünk.
					</li>
					<li>
						<strong>Gyóntató</strong>: Magasztaljuk Istent, mert jóságos hozzánk.<br />
						<strong>Gyónó</strong>: <em>Mert örökké szeret minket.</em><br /> <strong>Gyóntató</strong>:
						Isten megbocsátotta bűneidet menj békével.<br /> <strong>Gyónó</strong>: <em>
							Istennek
							legyen hála.
						</em><br /> (Ez a párbeszéd elmaradhat.)
					</li>
					<li>Elköszönés: <em>Dicsértessék a Jézus Krisztus!</em></li>
				</ul>
			</div>
		</div>
	</div>