@page
@using androkat.web.Pages.Gyonas
@model ImaModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container bg-white" style="padding: 15px;">
	<div class="p-3 border bg-light">
		<h6>
			<a href="/gyonas" class="link-primary">Gyónási előtti elmélkedés</a> |
			<a href="/gyonas/ima" class="link-secondary">Gyónási ima</a> |
			<a href="/gyonas/tukor" class="link-primary">Lelki tükör</a> |
			<a href="/gyonas/gyonas" class="link-primary">Gyónás szövege</a>
		</h6>
		<h3 style="margin:20px 0 20px 0;">
			A Szentlélek segítségül hívása a gyónás előkészítéséhez
		</h3>		
		<div class="">
			<div>Jöjj el, Szentlélek Úristen, világosítsd meg értelmemet, hogy bűneimet úgy ismerjem meg, amint elkövettem őket; erősítsd meg akaratomat, hogy szívemből megbánjam és őszintén meggyónjam őket, az elégtételt pontosan elvégezzem és minden erőmből törekedjem megjavulni.Ámen.</div>
			<hr />
			<h4>A lelkiismeret világosságáért</h4>
			<div>
				Istenem, te mindent tudsz, engem is jobban ismersz, mint sajátmagam.<br />
				Ismered gyöngeségeimet és hibáimat, harcaimat és elbukásaimat, de tudod azt is, hogy szeretlek, és törekszem a jóra.<br />
				Tudod, hogy hajlamos vagytok hibáim szépítésére, az önigazolásra és a mentegetőzésre, de tudod azt is, mennyire szeretnék eljutni hozzád.<br />
				Amikor magamat vizsgálom, hogy összeszedhessem hibáimat és feladataimat, mindig mintha sötétben tapogatóznék:<br />&nbsp;&nbsp;csak homályos ás bizonytalan arcképet tudok rajzolni magamról, s elmosódnak általad belém írt jövendő arcom körvonalai is.<br />
				Világíts meg, Uram! Vezess előre a hozzád vezető úton!<br />
				Taníts meg akaratodra, mutasd meg, hogy elgondolásod szerint itt és most mit kell tennem. Adj erőt, hogy elfogadjam váratlannak látszó kívánságaidat is. Adj erőt, hogy gyöngeségeim ellenére is higgyek a te erődben, és rábízzam magam irányításodra.<br />
				Rendelkezz velem, Uram, tetszésed szerint. Segíts, hogy hűséges gyermeked és tanítványod legyek: egyre világosabban fölismerjem, és egyre hűségesebben kövessem akaratodat.<br />
				Árasszon el kegyelmed fénye, hogy mindinkább úgy nézhessem magam, amint te látsz engem, s úgy láthassalak, ahogyan megmutatkoztál előttünk Fiadban, Jézus Krisztusban. Ámen.<br />
				(L. L.) (Beszélgetés a Mesterrel című könyvből)
			</div>
			<hr />
			<h4>Imádság a szentgyónás előtt</h4>
			<div>
				Édes jó Istenem, te mindig szívesen bocsátod meg bűneinket s irgalmas jósággal fogadod vissza a bűnös embert kegyelmedbe; tekints nagy könyörületességgel az én szegény lelkemre.<br /><br />
				Sokszor és sokat vétettem ellened és most ismét visszatérek hozzád, hogy a bűnbánat szentségében bűneim bocsánatát megnyerhessem. Segíts Uram, hogy e nagy kegyelemhez kellően előkészüljek; világosítsd meg értelmemet, hogy minden bűnömet megismerjem; indítsd meg szívemet és akaratomat, hogy minden bűnömet irántad való szeretetből megbánjam; vezéreld nyelvemet, hogy minden megismert és megbánt bűnömet őszintén és teljesen meggyónjam, hogy megtisztult lélekkel szeretetedbe ismét visszajuthassak.<br /><br />
				Szentlélek Úr Isten, lelki világosság forrása, világosítsd meg kegyelmed sugarával emlékezetemet és segíts engem bűneim megismerésében. Mutasd meg nekem azokat oly világosan, amint egykor látni fogom őket, amikor halálom pillanatában előtted ítéletre megjelenek.
				Szűz Mária, kegyelem és irgalom anyja, bűnösök oltalma, kérd értem szent Fiadat, hogy szent gyónásomat méltóan végezhessem, bűneimtől megtisztuljak és szent kegyelmével új, szebb, bűntelen életet élhessek.<br /><br />
				Istennek minden szentjei s főleg ti, akik e földi életben a bűnbánatra oly szép példát adtatok, kérjétek a jó Istent, hogy példátokat töredelmes lélekkel követhessem. Amen.
			</div>
		</div>
	</div>
</div>