@page
@using androkat.web.Pages.Gyonas
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container bg-white" style="padding: 15px;">
	<div class="p-3 border bg-light">
		<h6>
			<a href="/gyonas" class="link-secondary">Gyónási előtti elmélkedés</a> |
			<a href="/gyonas/ima" class="link-primary">Gyónási ima</a> |
			<a href="/gyonas/tukor" class="link-primary">Lelki tükör</a> |
			<a href="/gyonas/gyonas" class="link-primary">Gyónás szövege</a>
		</h6>
		<h3 style="margin:20px 0 20px 0;">
			Elmélkedések a gyónás előkészítéséhez
		</h3>		
		<div class="accordion" id="accordionExample">
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingOne">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						Lelki tükör
					</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
					<div class="accordion-body">
							<h3>UGYAN KI ISMERI ÖNMAGÁT? I.</h3>
				<h4>MILYEN VAGYOK?</h4>
				<ul>
				<li>reggel, ha fölébredek</li>
				<li>munka közben</li>
				<li>szabad időmben</li>
				<li>ha egyedül vagyok</li>
				<li>ha valamit el akarok érni, valakire hatást tenni</li>
				<li>ha pechem van</li>
				<li>ha zavarnak</li>
				<li>amikor fáradt vagyok</li>
	</ul>

				<h4>VAJON hamar felindulok?</h4>
				<ul>
				<li>sikereim vannak</li>
				<li>könnyen sértődöm</li>
				<li>vezetői tehetségem van</li>
				<li>megközelíthető vagyok</li>
				<li>inkább félénk vagyok</li>
				<li>parancsolgató</li>
				<li>bizonytalan</li>
				<li>viszálykodó</li>
				<li>nyílt</li>
				<li>realista</li>
				<li>szeszélyes</li>
				<li>álmodozó</li>
				<li>békülékeny</li>
				<li>lelkesedő</li>
				<li>'nélkülem semmit' típus</li>
				<li>öntudatos</li>
				<li>kárörvendő</li>
				<li>megbízható</li>
				<li>lojális</li>
	</ul>

				<h4>SZEREPEM az életben:</h4>
				<ul>
				<li>apa - anya</li>
				<li>kolléga</li>
				<li>szerelmes</li>
				<li>barát</li>
				<li>tanácsadó</li>
				<li>elöljáró</li>
				<li>alárendelt</li>
				<li>partner</li>
	</ul>

				<h3>KI ISMERI ÖNMAGÁT II.</h3>

				<h4>TUDOK-E?</h4>
				<ul>
				<li>kudarcot elismerni</li>
				<li>dorgálást tűrni</li>
				<li>válságban kitartani</li>
				<li>figyelmeztetést elfogadni</li>
				<li>mellőzést tudomásul venni</li>
				<li>boldog lenni</li>
				<li>az igazságot elviselni</li>
				<li>mások érdekében föllépni</li>
				<li>magamat megvédeni (hogyan)</li>
				<li>jó oldalamat érvényre juttatni</li>
				<li>véleményemet megmondani és keresztülvinni</li>
				<li>ellentmondást meghallgatni és elismerni</li>
				<li>másokkal örülni</li>
				<li>hibámat megvallani</li>
				<li>bocsánatot kérni</li>
				<li>megbocsátani</li>
				<li>gyűlölni</li>
				<li>dühös lenni</li>
	</ul>

				<h4>MILYEN LENNÉK SZÍVESEN?</h4>
				<ul>
				<li>Mihez szeretnék érteni?</li>
				<li>Kit szeretek? (Miért?)</li>
				<li>Minek örülök?</li>
				<li>Mitől félek?</li>
				<li>Mikor húzom ki magam valamiből?</li>
				<li>Jót várok-e, vagy mindig a legrosszabbat?</li>
				<li>Mikor nem mondok igazat?</li>
				<li>Mit várok magamtól, a jövőtől, a többiektől, a haláltól?</li>
	</ul>

				<h3>KI ISMERI ÖNMAGÁT?</h3>

				<h4>KIKTŐL FÜGGÖK?</h4>
				<ul>
				<li>Tudok-e neheztelés nélkül gondolni szüleimre?</li>
				<li>Mit tesznek értem mások?</li>
				<li>Ki függ tőlem?</li>
				<li>Kihasználom-e ezt?</li>
				<li>Ki a barátom?</li>
				<li>Kihez mennék, ha bajba jutnék?</li>
				<li>Mi megy legjobban az idegeimre azoktól, akikkel együtt kell
			élnem?</li>
				<li>És saját magamtól?</li>
				<li>Mit szeretnék a múltamból elfelejteni?</li>
				<li>Miről nem szeretnék soha beszélni?</li>
				<li>Mikor gondolok Istenre? Miért?</li>
	</ul>

				<h4>HOGYAN REAGÁLOK?</h4>
				<ul>
				<li>váratlan találkozásokra</li>
				<li>veszélyes helyzetekre</li>
				<li>támadásokra</li>
				<li>gyanúsításokra</li>
				<li>félreértésekre</li>
				<li>arra, ha kihasználnak</li>
				<li>ha az utcán egy részeget látok</li>
				<li>ha azt hallom, hogy egy fiatalembert lecsuktak</li>
				<li>egy lány jó házasságot köt</li>
				<li>valaki a lottón nyer</li>
	</ul>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingTwo">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Gondolatok gyónók számára
					</button>
				</h2>
				<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
					<div class="accordion-body">
							<h4>Gondolatok gyónók számára</h4>

				<h3>1. Isten terve rólam</h3>
				<div>Istennek szép terve van rólam. Az a terve, hogy Jézus
		kibontakozhassék bennem. Nekem e célért csak egyet kell tennem:
		mindenben teljesítenem az Ő akaratát.</div>
				<ul>
				<li>Él-e bennem a vágy, hogy Isten terve teljesüljön bennem?</li>
				<li>Hogy megtaláljam azt a hivatást, amire Isten szánt?</li>
				<li>Imádkozom-e ezért?</li>
				<li>Ne aggódjatok - mondja Jézus. Tudom-e rábízni magam Isten
			gondviselő szeretetére?</li>
				<li>Törekszem-e arra, hogy jobban megismerjem hitemet, s ezáltal
			Isten reám vonatkozó tervét?</li>
				<li>Szánok-e elegendő időt az Istennel való kapcsolat
			elmélyítésére? (Ima, szentírás, lelki olvasmányok, elmélkedések stb.
			- lelki vezetőmmel való megbeszélés alapján?</li>
				<li>Figyelek-e lelki vezetőm irányítására?</li>
				<li>Lelkiismeretem által a Szentlélek vezet, hogy Isten terve
			megvalósulhasson bennem. - Azonnal követem-e lelkiismeretem
			indításait? (Pl. hogy ne válaszoljak egy sértésre; ne nézzek meg
			valamit; első szóra engedelmeskedjek; reggel azonnal ugorjak ki az
			ágyból stb.)</li>
				<li>Kötelességeimet (hittan, tanulás, munka) becsülettel, örömmel
			végzem-e?</li>
				<li>Rendszeres vagyok-e az étkezésben - vagy gyakran torkoskodom?</li>
				<li>Cselekedeteim előtt néha megállok-e, hogy meggondoljam: most,
			itt hogyan tuddom teljesíteni Isten akaratát?</li>
	</ul>

				<h3>2. Jézus a testvérben</h3>
				<div>Isten első akarata, hogy szeressük Őt és embertársunkat.
		(Amit egynek teszünk, Neki tesszük.)</div>
				<ul>
				<li>Észrevettem-e Jézus jóságát embertársaimban? - Örömet
			szereztem-e nekik azzal, hogy megdicsértem a bennük levő jót? (Vagy
			sokszor megbíráltam őket?)</li>
				<li>Legalább olyankor, ha nehezemre esett mások szolgálata,
			gondoltam-e arra, hogy embertársaimban Jézust szolgálom?</li>
				<li>Azzal az elhatározással szoktam-e embertársaim közé menni
			(iskolába, hittanra, haza), hogy örömet akarok szerezni nekik? - Vagy
			inkább azzal az elvárással, hogy ők szerezzenek nekem örömet?</li>
				<li>Tudtam-e mások kedvéért lemondani akaratomról,
			elképzelésemről? - vagy minden áron ragaszkodom ahhoz?</li>
	</ul>

				<h3>3. Jézus a szenvedésben</h3>
				<div>Jézus a kereszten, majd elhagyottságában magára vette
		szenvedésünket. Azóta minden fájdalomban felismerhetjük Őt. Ha vele
		egyesülünk, minden szenvedés a feltámadásba vezet.</div>
				<ul>
				<li>Testi és lelki fájdalmaimban felismertem és köszöntöttem-e a
			szenvedő Jézust? Vele egyesülten örömmel ajánlottam-e fel
			szenvedésemet másokért?</li>
				<li>Hibáim, gyengeségeim érzetében felismertem-e az értük
			gyengévé lett Jézust? Így sikerült-e újrakezdenem az Ő erejében?</li>
				<li>Szenvedésemben, kedvetlenségemben gondoltam-e arra, hogy a
			sötétségből a szeretet vezet ki? (Jn 14,21; 1 Jn 3,14)</li>
				<li>Ha egy hibázó, bűnös embert láttam, gondoltam-e arra, hogy
			Jézus érte is meghalt? - Tudtam-e Jézus szemével nézni rá?</li>
				<li>Bármilyen fájdalommal, sötétséggel találkoztam,
			köszöntöttem-e ott is Jézust?</li>
	</ul>

				<h3>4. Szentháromságos küldetésem</h3>
				<div>Isten ajándékait, a szentségek kegyelmeit azért kapjuk, hogy
		használjunk vele másoknak; hogy ők is eljussanak Istenhez.</div>
				<ul>
				<li>Gondolok-e arra, hogy felelős vagyok embertársaimért? - Hogy
			úgy kell szeretnem őket, hogy Jézus megszülethessék és növekedhessék
			bennünk?</li>
				<li>Törekszem-e arra, hogy Jézus élhessen bennem? - Hiszen csak Ő
			tud bennem megtéríteni másokat!</li>
				<li>Törekszem-e arra, hogy hittanos társaim és köztem növekedjék
			a szeretet? - Hiszen Jézus azt akarja, hogy erről ismerje meg Istent
			a világ!</li>
				<li>Ha feszültség volt hittestvéreim és köztem, elkövettem-e
			mindent, hogy ez megszűnjék?</li>
				<li>Végzek-e valami konkrét szolgálatot keresztény közösségem
			(egyházközség, hittanosok) érdekében? - Vajon mit tehetnék még?</li>
	</ul>
				<div>
		Köszönöm, Uram, hogy megmutattad gyengeségemet és a Te Jóságodat.<br />
		Add, hogy erődből új életet kezdhessek!
	</div>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingThree">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						Larry Richards: 'Légy férfi!' című könyvéből
					</button>
				</h2>
				<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<h3>Larry Richards: 'Légy férfi!' című könyvéből</h3>

<div>Most szeretném elmondani neked, hogyan kell jól gyónni. Először imádkozz a Szentlélekhez, hogy föltárja a szíved előtt a bűneidet, és kérd tőle a bűnbánat kegyelmét. Egyedül az Ő kegyelme által nyílhatsz meg egy új kezdetre.
</div>
<div>...először is meg kell kérdezned Őt. <strong>"Mi rossz az életemben? Mi szomorít el Téged az életemben?"</strong> A Szentlélek meg fogja adni a választ azáltal, hogy föltárja előtted a bűneidet. A Lélek, amely a megkeresztelkedésed óta benned él, megvilágosítja a szívedet. Meg kell engedned Istennek, hogy megvilágosítson téged. A legtöbben közülünk soha nem kérdezik meg Istent az életük hibáiról, mert túlságosan félnek attól, hogy a bűneikkel foglalkozzanak.
</div>
<div>...fontos, hogy mélyebbre menjünk a bűneink tüneteinél (pl. pletykáltam): <strong>bűneink gyökereit kell feltárnunk</strong>. Gyakorta csak bűneink külsődleges megjelenését vesszük szemügyre.
</div>
<div>Azt gondoljuk: "Ha tudnám kezelni életemnek ezt a területét, akkor minden rendben lenne." A tüneteink azonban sokkal inkább arról árulkodnak, hogy még nem teljesen adtuk át életünket az Istennek. Ahelyett hogy azt mondanánk: "Küszködök a káromkodással", inkább azt kellene mondanunk: "Küszködök a káromkodással, ezért még jobban át kell adnom az életemet Jézusnak". Oda kell állnunk a Szentlélek elé, és hagynunk kell, hogy megvilágosítson minket.<br>Nemcsak a bűneink tüneteit, amelyekkel megbántjuk Őt, hanem bűneink gyökereit is.
</div>
<div>A bűnbánat második lépése azután következik, hogy fölismertük bűneinket. Ezután <strong>vállalnunk kell a felelősséget</strong>, és meg kell gyónnunk őket egy papnak. Az, hogy nem akarunk gyónni menni, legtöbbször a saját gőgünkből fakad, ami valójában a legtöbb bűn gyökere. Itt az ideje az alázatnak és a gőgről való lemondásnak, mert lehet, hogy éppen ezáltal nyílik meg előttünk a gyógyulás kapuja!
</div>
<div>...amit Isten kér tőlünk, hogy <strong>ne keressünk kifogásokat</strong> a bűneinkre.</div>

<div>...amikor gyónni mész, azzal a szándékkal kell menned, hogy abbahagyod a további vétkezést. A megbánás azt jelenti, hogy megfogadod, leszámolsz a bűnnel. Ez a következő lépés. Mindig küszködni fogsz, amíg nem jutsz el a valódi bűnbánatra.<br>Valódi bűnbánatot kell tartanunk. A bűnbánó lélek azt jelenti, hogy eldöntjük, hogy miután a Szentlélek föltárta számunkra a bűneinket, és mi vállaltuk a felelősséget értük, leszámolunk a bűneinkkel. Amíg a bűn szándéka él a lelkünkben, addig nem tartottunk valódi bűnbánatot.
</div>
<div>Mondok egy példát. Valaki fél a repüléstől, és már egy éve házasságtörő viszonyban él. Ha ez az ember elmegy egy paphoz mielőtt fölszáll a repülőre és azt mondja: "Atya, házasságtörést követtem el, megbántam" - de a lelkében azt gondolja: "Ha túlélem ezt a repülőutat, visszamegyek a szeretőmhöz" -, akkor ez a gyónás nem érvényes. A lelke mélyén nem határozta el, hogy többé nem vétkezik. Ezért nem lehetséges megbocsátás sem !
</div>
<div>...ha gyónni megyek, akkor ezt kell mondanom: "Istenem, nem követem el többé ezt a bűnt. Bocsáss meg, de nekem nincs ehhez elég erőm. Megfogadom, hogy soha többé nem teszek ilyet, de nincs erőm megtartani a fogadalmat." A változtatás szándéka ott kell, hogy legyen. Gyöngeségünk miatt lehet, hogy újból elbukunk, de amíg az a szándékunk, hogy ismét vétkezzünk, addig még nem is foglalkoztunk igazán a bűneinkkel. A próbálkozás nem elég: nem fog működni. Isten kegyelméből ki kell mondanod: "Nem követem el többé ezt a bűnt." Ez az a pont, amikor valóban foglalkozol a bűneiddel, és elkezdheted a bűnbánatot.
</div>
<div>A gyónás és a bűnbánat őszinte szomorúságot von maga után. A második Korintusiaknak írott levél 7,10 így ír erről:<br>"Az <strong>Istennek tetsző szomorúság</strong> ugyanis üdvös töredelmet eredményez, s ezt senki sem bánja meg; a világ szomorúsága ellenben a halálba visz." Nem azért, mert rajtakaptak, vagy mert el kell szenvedned a büntetést.
</div>
<div>Isten maga a kegyelem, de ha gyónunk, akkor Istennek tetsző szomorúságot kell éreznünk. "Bocsáss meg, Uram, mert megbántottalak, téged, aki szeretsz engem, nem akarok fájdalmat okozni neked."
</div>
<div>Miután meggyóntad bűneidet egy papnak, hallgasd meg a tanácsát, majd végezd el az általa meghatározott penitenciát, amilyen gyorsan csak lehet. Ez új kezdettel fog megajándékozni téged, mert amikor gyónni mész, Jézus új életet ad neked, megszabadít a rabszolgaságból, megtisztít a bűneidtől, és kibékít téged az Atyával.
</div>
<div>A hagyományos katolikus tanítás szerint három dologgal szembesülünk a bűnnel való küzdelemben: a világgal, a testtel és az ördöggel.<br><strong>A világ látásmódja.</strong> Ez a gondolkodásmód a világot követi, és hozzá igazodik, ahelyett hogy Istent követné és az Ő akaratát teljesítené az életünkben. Ahányszor csak bekapcsolod a tévét, elárasztanak a világ hiedelmei.
<br><strong>A testtel való küzdelemben</strong> a saját szükségleteinkkel, a saját vágyainkkal, és a saját akaratunkkal szembesülünk. A bűn itt a fizikai vágyainkban és kísértéseinkben ölt testet.<br><strong>Az ördög megkísérthet</strong>, sanyargathat, vagy - ne adj' Isten - meg is szállhat minket. Nem hiszem, hogy minden csatánkat az ördöggel vívjuk meg, de arról meg vagyok győződve, hogy "ordító oroszlán módjára ott kószál mindenütt, és keresi, kit nyeljen el" (1Pt 5,8). Számolnunk kell vele! Ha mindennap elmondjuk Szent Mihály imádságát, akkor ellen tudunk állni a kísértéseinek.
</div>
<div>Jézus Isten szent igéjét nyomta le a Sátán torkán, ezért a Sátán eloldalgott. Jézus Isten igéjével győzte le a kísértést, ezzel megmutatta nekünk is, hogyan kell cselekednünk.
Ne fuss el! Ne mondd: "Gyönge vagyok," Ne mondd: "Félek az ördögtől." Szembe kell néznünk a Sátánnal, ha megkísért minket. Isten igéje ad nekünk hatalmat, hogy megtámadjuk vele a kísértőt. Vigyük magunkkal Jézus Krisztust és Isten igéjét minden kísértésbe. <strong>Kérd Jézus jelenlétét a kísértésben!</strong> Ő Isten Igéje, és sokkal erősebb, mint a Sátán. Ezt már bebizonyította.
</div>
<div>...ha egyszer megtaláltátok a bűneitek magját, keressétek ki, tanuljátok meg kívülről azokat a szent igéket, amelyek segítenek és nektek szembenézni ezekkel a vétkekkel. Ha kísértésbe esel, idézd fel ezeket az igéket, és nyomd le őket az ördög torkán. Így győzedelmeskedni fogsz.
<br>A Zsidókhoz írt levélben ez áll: "A bűn elleni küzdelemben még nem álltatok ellen a véretek ontásáig" (Zsid 12,4). Ez nem azt jelenti, hogy még nem haltatok meg. Ez azt jelenti, hogy még nem harcolsz teljes erődből Krisztusért. Még nem feszítettek keresztre Krisztussal együtt. Mindent Neki kell ajándékoznod, és Ő meg fog menteni téged. Urald önmagadat, és használd Isten igéjét! Ez segít neked majd a győzelemben, és a bűnbánó életben, ahelyett hogy gyöngének hinnéd magad. Jézusban erős vagy. Ne magadra és a saját gyengeségedre koncentrálj, hanem Krisztusra és az Ő erejére. <strong>Isten vár rád</strong>. Menj el gyónni, és vedd a bátorságot...  
</div>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header" id="headingFour">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
						Dr. Papp Miklós atya lelkitükre
					</button>
				</h2>
				<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<p><strong>Általános lelki tükör az Újszövetség alapján Dr. Papp Miklós atyától</strong></p>

<p>Isten szeretetre teremtett minket - igazán boldogok csak szeretetben lehetünk. Krisztus a szeretet 3 irányú főparancsát tanította és élte: "Szeresd Uradat, Istenedet - és szeresd felebarátodat, mint önmagadat!" A bűn lényege a szeretetlenség: nem jót vagy nem jól szeretünk. Ezért a bűnbocsánat szentségében bevalljuk szeretetlenségünket, és kérjük bűneink bocsánatát. Legyen minden gyónás húsvét, feltámadás!</p>

<p><strong>"Szeresd Uradat, Istenedet!"</strong></p>

<p><strong>Isten</strong><br>
	Igyekszel-e Istennel szeretetteljes barátságban élni? A kisebb-nagyobb döntéseidben jelen van-e Isten, vagy csak életed perifériáján? Imádkozol-e rendszeresen, s olyan mélységben, ahogy telik teljes szívedből, minden erődből? A Liturgián elmélyülten és aktívan veszel-e részt? Igyekeztél-e elmélyíteni hitedet (könyv, lelki nap, elmélkedés, prédikáció)? Olvasod rendszeresen a Bibliát? Megvallottad Istent? Példa vagy hitedben? Istenre bízod az életed, vagy csak a bajban gondolsz rá? Veszélyeztetted a hited (szektás irodalom, találkozó, tanfolyam)? Kételkedtél hitigazságban, vagy tagadtál ilyet? Vallásod ellen beszéltél, kigúnyoltad azt? Vakmerően bizakodtál Istenben? Kétségbeestél Isten segítsége felől? Hogyan viseled a keresztjeidet? Voltál kishitű? Zúgolódtál Isten ellen? Babonával vétkeztél-e (szellemidézés, fanatikus horoszkóp, mágia)? Húztál-e hasznot a babona, ezotéria terjesztéséből? Szentségtörést követtél el érvénytelen gyónással, vagy méltatlan szentáldozással? Káromkodtál? Isten nevét könnyelműen kiejtetted? Átkozódtál? Hamisan esküdtél? Istennek tett fogadalmadat megszegted?</p>

<p><strong>Egyház</strong><br>
	Liturgián voltál-e vasárnap és ünnepnapokon? Keresztény módon tartod meg az ünnepeket? Tudod tiszta szívvel fogadni a szentségeket és az evangéliumot? Járulsz rendszeresen szentségekhez? Böjtöket megtartottad? Tisztelettel viselkedsz a templomban, a szentek, a szent tárgyak, ikonok, szertartások felé? Beszédeddel, jelenléteddel, imáiddal és anyagi segítségeddel részt veszel az egyház életében? Építed vagy rombolod a hívők közösségét, szóval, tettel, mulasztással? Súlyos ok nélkül dolgoztál vagy dolgoztattál vasárnap? Papokat rágalmaztál, bántalmaztál? Támogattál-e egyházellenes, keresztényellenes ideológiákat? Az egyház ügyeit sajátoddá teszed-e, készséges vagy-e segíteni? Megszívleled-e, amit az egyház pásztorai mondanak, ill. ellenséges, bántó vagy-e a közösségben? Tudsz-e tisztelettel viszonyulni ökumenikus testvéreinkez?</p>

<p><strong>"Szeresd felebarátodat!"</strong></p>

<p><strong>Család</strong><br>
	Imádkoztál rendszeresen családtagjaidért? Gondolsz-e arra, hogy melletted üdvözüljenek? Mennyire akadályozod azt? Bántalmaztad őket szóval vagy tettel? Vannak-e súlyos gondolati bűneid, haragod, gyűlöleted, féltékenységed családtagjaid ellen? Erőszakosan gúzsba kötőd-e őket (telefon, pénz, ellenőrzés)? Házastársad felé fordítasz minőségi időt, lelki figyelmet és testi gyöngédséget? Komoly ok nélkül tagadtad-e meg tartósan a házastársi szexuális életet? Erkölcstelen, abortív eszközzel kizártad-e a gyermekáldást? Házasságtörést követtél el, vagy taszítottad abba a másikat? Elláttad alapvető gondoskodó kötelességeidet házastársad, gyermekeid, szüleid felé? Lelki fejlődésüket előmozdítottad? Ügyeltél testi egészségükre? Ellopod-e a családtagjaid fejlődésének lehetőségeit? Gyermekeid erkölcsi és vallásos neveltetésére ügyelsz? Rossz példával ártottál nekik? Meg tudsz bocsátani szeretteidnek? A konfliktusok rendezésében van súlyos mulasztásod, bűnöd? Építed vagy rombolod a nagycsaládi összetartást szavaiddal és tetteiddel? Pozitív-e a légkör körülötted, jó-e veled együtt élni, vagy lehúzod mások hangulatát, esetleg agresszív vagy?</p>

<p><strong>Társadalom</strong><br>
	Saját helyzetedben megtetted, amit a szociális érzékenység megkíván: adakozás, önkéntesség, segítségnyújtás, vagy csak a magad jólétével foglalkozol? Példa vagy a társadalomban a beszédben, a munkavégzésben, a figyelmességben? Megtartod a polgári törvényeket? Keresztény lelkiismeretességgel veszel részt a politikai életben, olyanokat támogatva, akik a keresztény értékeket megvalósítják? A gazdasági életben keresztény lelkiismerettel veszel részt (vásárlás, szolgáltatás, károkozás)? Szükségben,<br>
	katasztrófában, balesetben segítettél? Adódat lelkiismeretesen befizetted? Jelen vagy a társadalomban a véleményeddel, és azzal építesz, rombolsz vagy inkább hallgatsz? Veszel-e részt a helyi közösség kulturális<br>
	életében, élesztő vagy-e az egyházon kívüli közösségekben is? Igazságos vagy? Támogatod az igaz értékeket megjelenítő kultúrát, vagy hozzájárulsz a romboló kultúrák terjedéséhez? Rongáltál-e közjót (pad, épület, busz, szemetes)? Óvod-e környezeted élővilágát, ártasz-e súlyosan szemeteléssel,<br>
	környezetkárosítással?</p>

<p><strong>Embertárs</strong><br>
	Tiszteled mindenkiben az istenképiséget? Figyeltél embertársaidra? Adtál tanácsot, lelki-anyagi segítséget, amikor kellett? Mások értékét, idejét, munkáját, nézetét tiszteled? Az emberiség egységét vagy megosztottságát szolgálod kritikáddal, munkáddal? Engeded, hogy mások egymást szeressék? Erősíted mások házas, munka, és papi hivatását, vagy gyengíted? Építed a jó közösséget munkatársaiddal, vagy rombolsz? Visszaéltél hatalmaddal? Igazságtalan, durva voltál alkalmazottjaiddal, ügyfeleiddel? Okoztál kárt más tulajdonában? Csaltál, loptál? Milyen értékben, jóvá tudod-e tenni? Kapzsi, anyagias voltál? Irigy, haragos voltál? Jogos bért visszatartottál, vagy zsugorítottál? A hivatalból rád bízott vagyonnal gondatlan voltál? Pazaroltál? Hazudtál, a rád bízott személyes és hivatali titkot megsértetted? Alaptalanul gyanúsítottál? Ítélkeztél? Gyaláztál, csúfoltál másokat? Volt-e rasszista gondolatod, tetted? Megszóltál másokat, hibájukat szükségtelenül kibeszélve? Rágalmaztál másokat? Beszédében van-e durva, obszcén kifejezés? Hamis tanúságot tettél? Van, aki haragszik rád? Lustaságoddal okoztál-e kárt mások életének? Elmulasztottad a jót megtenni? Elfecsérelted az időt? Mást csábítottál bűnre, adtál neki tanácsot, segédkeztél benne? Békíted-e magad körül az embereket vagy szítod a feszültséget (szomszédok, pártok, rokonok)? Okoztál-e lelki vagy testi kárt gondatlansággal vagy szándékos bűnnel? Abortuszra, öngyilkosságra, terrorizmusra, gyilkosságra, eutanáziára beszéltél rá, adtál tanácsot, elkövetted? Testileg bántalmaztál-e mást, verekedtél-e, kínoztál-e bárkit (szóval és tettel)?</p>

<p><strong>"Szeresd önmagad!"</strong></p>

<p>Mennyire vagy lemaradva Isten rólad alkotott tervétől? Milyen területeken vagy lusta, ahol lemaradsz a legjobb énedtől? Hol pazarolod el istenadta talentumaidat? Milyen súlyos gondolati bűneid vannak önmagad szeretete ellen? Meghozod-e időben a fontos döntéseidet, jó döntéseket hozol-e jövődre vonatkozóan - ill. kapkodsz, halogatsz, sodródsz? Imádkozol és dolgozol-e érte? Szereted és ismered önmagad, hivatásnak tartod az életed? Fejlődsz-e folyamatosan testileg és lelkileg? Képezed-e magad a hit, a családi élet, a kultúra, a szakma területén? Ápolod-e magadban a prófétaság lelkét, vagy betölti a világ a gondolataidat és érzületedet? Tudod-e uralni indulataidat, félelmeidet, vágyaidat? Keresztényként dolgozol az Istentől kapott legjobb tehetséged szerint? Tudod-e munkádat liturgiaként, világi papi hivatással végezni? Ápolod legfontosabb családi, baráti, egyházi közösségi kapcsolataidat, vagy magányosan elzárkózol? Óvod egészségedet, életedet? Mértéktelen voltál az evésben, ivásban, munkában, szerencsejátékban, dohányzásban, ill. tv-számítógép, telefon használatában? Van-e függőséged, tartasz-e lefelé valamelyik lejtőn? Fordulsz-e testi-lelki orvoshoz betegséged idején? Van-e hanyagság lelki sebeid kezelésében? Pihentél eleget? Mérgezted a gondolatvilágod szemérmetlen képekkel, filmekkel, pornográfiával, hazug vágyakkal? Kitted magad bűnveszélynek? Szemérmetlen szándékkal érintetted magad, vagy mást? Természetellenes paráznaságot követtél el?<br>
	A gyónás előtt gondolj Isten szeretetére: mennyire szeretné, hogy az istenképiség dicsősége rajtad is felragyogjon! Mennyire szeretné örömét találni benned, s milyen szomorú bűneid miatt. Kérd a Szentlélek megvilágosítását, hogy igazán lásd életed fekélyeit, a szeretet súlyos akadályait. Bűneidet összeszedve bánd meg azokat, és gondolkodj azon, hogyan tudnád jóvá tenni.</p>

					</div>
				</div>
			</div>			
		</div>
	</div>
</div>