@page "{csoport?}"
@using androkat.web.Pages.Ima;
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container bg-white" style="padding: 15px;">

    <div class="mb-4" style="border-radius: 0.25rem;padding: 15px;background-color: #ffffff;">
        <strong>Imák szűrése forrás szerint</strong>:<br /> <a href="/ima">Összes</a> ||

        @foreach(var item in Model.ImaCsoportok) 
        {
            var css = !string.IsNullOrWhiteSpace(Model.Csoport) && Model.Csoport == item.Value ? "class=\"bg-success text-white p-1\"" : "";
            <a href="/ima/@(item.Value)" @Html.Raw(css)>@(item.Key)</a> @("||")
        }
    </div>

    @{
        var index = 0;
        var vege = false;
    }
    @foreach (var p in Model.ContentModels.Select(p => p.ContentDetails))
    {
        vege = false;
        @if(index == 0)
        {
          @:<div class="row mb-1">
        }
        
        <div class="col-sm-4">
        <div class="card h-100"><div class="card-body">
            <a href="/ima/details/@(p.Nid)" class="navlink">
            @Html.Raw("<h5>" + p.Cim + "</h5>")          
            </a>
        </div></div></div>

        @if(index == 2)
       {
            @:</div>

            index = 0;
            vege = true;         
        }
        else { index++; }            
    } 

    @if(!vege) 
    { 
        @:</div>
    }       

</div>
