<!doctype html>
<html lang="hu">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="~/favicon.ico">
        <title>Androkat feltöltő</title>        
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css?v=1" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css" rel="stylesheet">
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/suneditor.min.js"></script>
		@RenderSection("meta_extra", false)		
	</head>
<body>
<main role="main">
	@RenderBody()
    </main>
	<footer class="container">		
	</footer>	
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js?v=1"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	@RenderSection("scripts", false)
</body>
</html>