@page
@using androkat.web.Pages.Ad
@model ImaModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section meta_extra {
    <script type="text/javascript">
        const regexStyle = /style="[^"]*"/g;
        const regexClass = /class="[^"]*"/g;

        $(document).ready(function () {

        @{
            if (Model.ShowToast)
            {
                <text>
                $("#myToast").toast("show");
                </text>
            }
        }

            function getParameterByName(name, url) {
                if (!url)
                    url = window.location.href;
                name = name.replace(/[\[\]]/g, '\\$&');
                let regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                    results = regex.exec(url);
                if (!results)
                    return null;
                if (!results[2])
                    return '';
                return decodeURIComponent(results[2].replace(/\+/g, ' '));
            }

            const editor = SUNEDITOR.create('idezet', {
                tagsBlacklist: "(span|h1|h2|h3|h4|h5|h6|style|class)",
                pasteTagsBlacklist: "(span|h1|h2|h3|h4|h5|h6|style|class)",
                display: 'block',
                width: '100%',
                height: 'auto',
                popupDisplay: 'full',
                charCounter: true,
                defaultStyle: "font-size:16px;",
                toolbarWidth: "600px",
                buttonList: [
                    ['undo', 'redo'], ['formatBlock'], ['paragraphStyle'],
                    ['bold', 'italic'],
                    ['removeFormat'],
                    ['align', 'horizontalRule', 'list'],
                    ['link'], ['fullScreen', 'showBlocks', 'codeView']
                ]
            });

            editor.toggleCodeView = function (isCodeView, core) {
                if (isCodeView) {
                    let $textarea = $('.se-wrapper-inner');
                    $textarea.scrollTop(0);
                    $textarea.prop('selectionEnd', 0);
                }
            }

            $('#tisztit').on('click', function () {
                let temp = $('#cim').val().trim();
                temp = temp.replace(new RegExp("'", 'g'), "`");
                temp = temp.replace(new RegExp("–", 'g'), "-");
                temp = temp.replace(new RegExp("—", 'g'), "-");
                temp = temp.replace(new RegExp("„", 'g'), '"');
                temp = temp.replace(new RegExp("”", 'g'), '"');
                temp = temp.replace(new RegExp("&quot;", 'g'), '"');
                temp = temp.replace(new RegExp("&ouml;", 'g'), "ö");
                temp = temp.replace(new RegExp("&uuml;", 'g'), "ü");
                temp = temp.replace(new RegExp("&Ouml;", 'g'), "Ö");
                temp = temp.replace(new RegExp("&Uuml;", 'g'), "Ü");
                temp = temp.replace(new RegExp(/ +/g, 'g'), ' ');
                temp = temp.charAt(0).toUpperCase() + temp.slice(1);
                $('#cim').val(temp);

                let temp2 = $('.se-wrapper-wysiwyg').html().trim();
                temp2 = temp2.replace(/[\r\n]+/g, " "); //fizikai sortörés nem kell
                temp2 = temp2.replace(regexStyle, "");
                temp2 = temp2.replace(regexClass, "");
                temp2 = temp2.replace(/<br><\/p>/gm, "</p>");
                temp2 = temp2.replace(/<!-- StartFragment -->/gm, "");
                temp2 = temp2.replace(/<!-- EndFragment -->/gm, " ");
                temp2 = temp2.replace(/<p> <\/p>/gm, "");
                temp2 = temp2.replace(/<p><\/p>/gm, "");
                temp2 = temp2.replace(new RegExp("'", 'g'), "`");
                temp2 = temp2.replace(new RegExp("–", 'g'), "-");
                temp2 = temp2.replace(new RegExp("—", 'g'), "-");
                temp2 = temp2.replace(new RegExp("„", 'g'), '"');
                temp2 = temp2.replace(new RegExp("”", 'g'), '"');
                temp2 = temp2.replace(new RegExp("»", 'g'), '"');
                temp2 = temp2.replace(new RegExp("«", 'g'), '"');
                temp2 = temp.replace(new RegExp("&quot;", 'g'), '"');
                temp2 = temp2.replace(/&nbsp;/gm, " ");
                temp2 = temp2.replace(/,,/gm, "\"");
                temp2 = temp2.replace(/ť/gm, "\"");
                temp2 = temp2.replace(/Ť/gm, "\"");
                temp2 = temp2.replace(/\[…\]/gm, " ");
                temp2 = temp2.replace(/\[...]/gm, " ");
                temp2 = temp2.replace(new RegExp("…", 'g'), '...');
                temp2 = temp2.replace(new RegExp(/ +/g, 'g'), ' ');

                console.log(temp2);
                $('.se-wrapper-wysiwyg').html(temp2);
                $('.se-wrapper-code').val(temp2);
            });

            editor.onChange = function (contents, core)
            {
                $('#idezet').val($('.se-wrapper-wysiwyg').html());
            }
        });
    </script>
}

@section scripts {
}

<div class="container-fluid">
    <div class="py-5 text-center">
        <h3>Új Ima</h3>
    </div>
    <div class="row">
        <div class="col-md-12 order-md-1">
            <form method="post">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div><span class="p-1 mb-3 bg-primary text-white">cím:</span></div>
                        <div style="margin: 10px 0 0 0;">
                            <em>Kötelező</em>
                            <input type="text" class="form-control" asp-for="Cim" required value="@Model.Cim" />
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div><span class="p-1 mb-3 bg-primary text-white">szöveg</span></div>
                    <div style="margin: 10px 0 0 0;">
                        <em>Kötelező</em>
                        <textarea asp-for="Idezet" class="form-control" rows="18" cols="100">@Model.Idezet</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3" style="width: 300px;">
                        <span>Alapimák"=>"11"</span><br /><span>Napi imák"=>"9"</span><br />
                        <span>Kérő és felajánló imák"=>"12"</span><br /><span>Hála és dicsőítő imák"=>"7"</span><br />
                        <span>Litániák"=>"4"</span><br /><span>Szentmise"=>"3"</span><br />
                        <span>Szűz Mária"=>"10"</span><br /><span>Rózsafüzér"=>"2"</span><br />
                        <span>Szentek imái"=>"1"</span><br /><span>Zsoltár"=>"0"</span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div><span class="p-1 mb-3 bg-primary text-white">csoport:</span></div>
                        <div style="margin-top: 10px;">
                            <input type="text" class="form-control" style="width: 100px;" asp-for="Csoport" value="@Model.Csoport" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3" style="width: 100px;">
                        <button type="submit" class="btn btn-lg btn-primary" id="submit">
                            mehet
                        </button>
                    </div>
                    <div class="col-md-6 mb-3" style="width: 100px;">
                        <button type="button" class="btn btn-lg btn-info" id="tisztit">
                            tisztít
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="myToast" class="toast position-fixed top-0 start-0 m-5 p-3" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            @Html.Raw(Model.Error)
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>