body {
	font: normal normal 16px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
	color: #f5f5f5;
	background-color: #121212;
	padding: 0px;
    margin: 0px;
}
div{margin-bottom: 8px; 
font: normal normal 16px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
color: #f5f5f5;}
#alapkizart {
font: normal normal 16px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
color: #f5f5f5;
}
a:link,a:visited,a:hover,a:active {
color: #f5f5f5;}